**Data Analysis - Weight Loss Prediction**

**Pre Processamento**

A base de dados a ser utilizada será o conjunto de dados de uma, conjunto de dados muito famoso na análise de dados. Este famoso conjunto de dados apresenta as medidas em centímetros das variáveis comprimento e largura da sépala e comprimento e largura da pétala, respectivamente, para 50 flores de cada uma das 3 espécies de íris. As espécies são Iris setosa, versicolor e virginica.

O objetivo do modelo a ser ajustado é de com base nas medidas fornecidas classificar cada uma das flores como uma das três categorias.

**Bibliotecas e conjunto de dados utilizados**

In [1]:
import numpy as np
import pandas as pd

In [2]:
names = ['weight-before', 'cookie-thickness', 'cookie-length', 'cookie-width', 'status']
dataset = pd.read_csv("data-control-limits.csv", names = names)

In [3]:
dataset.head()

   weight-before  cookie-thickness  cookie-length  cookie-width     status
0           5.51              7.88          40.38         39.82  Attention
1           5.72              8.60          39.92         39.70  Attention
2           5.57              8.27          39.46         39.34  Attention
3           5.68              8.28          40.28         39.82         OK
4           5.19              8.61          39.06         39.62         OK

**Verificando o tipo de dados**

In [4]:
dataset.dtypes

weight-before       float64
cookie-thickness    float64
cookie-length       float64
cookie-width        float64
status               object
dtype: object

**Verificando duplicatas de dados**

In [5]:
duplicatas = dataset[dataset.duplicated()]
print(duplicatas.shape)
duplicatas.head()

(0, 5)

Empty DataFrame
Columns: [weight-before, cookie-thickness, cookie-length, cookie-width, status]
Index: []

In [6]:
dataset.drop_duplicates(inplace=True)
dataset.shape

(118, 5)

**Verificando valores nulos (missing)**

In [7]:
dataset.isnull().values.any()

False

In [8]:
print(dataset.isna().sum())
print(f'\nTotal de valores missing: {dataset.isna().sum().sum()}')

weight-before       0
cookie-thickness    0
cookie-length       0
cookie-width        0
status              0
dtype: int64

Total de valores missing: 0

**Salvando o banco de dados após pre-processamento**

In [9]:
dataset.to_csv('Dados_pre_processados.csv', index = False)
dataset

     weight-before  cookie-thickness  cookie-length  cookie-width     status
0             5.51              7.88          40.38         39.82  Attention
1             5.72              8.60          39.92         39.70  Attention
2             5.57              8.27          39.46         39.34  Attention
3             5.68              8.28          40.28         39.82         OK
4             5.19              8.61          39.06         39.62         OK
..             ...               ...            ...           ...        ...
113           5.36              8.30          39.92         39.42         OK
114           5.13              8.31          40.08         40.14         OK
115           5.53              8.41          39.96         39.76         OK
116           5.02              8.47          39.52         39.58         OK
117           5.55              8.70          40.30         40.12        OUT

[118 rows x 5 columns]