**Iris Analysis - Pre Processing**

A base de dados a ser utilizada será o conjunto de dados de uma, conjunto de dados muito famoso na análise de dados. Este famoso conjunto de dados apresenta as medidas em centímetros das variáveis comprimento e largura da sépala e comprimento e largura da pétala, respectivamente, para 50 flores de cada uma das 3 espécies de íris. As espécies são Iris setosa, versicolor e virginica.

O objetivo do modelo a ser ajustado é de com base nas medidas fornecidas classificar cada uma das flores como uma das três categorias.

**Bibliotecas e conjunto de dados utilizados**

In [1]:
import numpy as np
import pandas as pd

In [2]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pd.read_csv("iris.csv", names = names)

In [3]:
dataset.head()

   sepal-length  sepal-width  petal-length  petal-width   class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

**Verificando o tipo de dados**

In [4]:
dataset.dtypes

sepal-length    float64
sepal-width     float64
petal-length    float64
petal-width     float64
class            object
dtype: object

**Verificando duplicatas de dados**

In [5]:
duplicated = dataset[dataset.duplicated()]
print(duplicated.shape)
duplicated.head()

(1, 5)

     sepal-length  sepal-width  petal-length  petal-width      class
142           5.8          2.7           5.1          1.9  Virginica

In [6]:
dataset.drop_duplicates(inplace=True)
dataset.shape

(149, 5)

**Verificando valores nulos (missing)**

In [7]:
dataset.isnull().values.any()

False

In [8]:
print(dataset.isna().sum())
print(f'\nTotal values missing: {dataset.isna().sum().sum()}')

sepal-length    0
sepal-width     0
petal-length    0
petal-width     0
class           0
dtype: int64

Total values missing: 0

**Salvando o banco de dados após pre-processamento**

In [9]:
dataset.to_csv('Dados_pre_processados.csv', index = False)
dataset

     sepal-length  sepal-width  petal-length  petal-width      class
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]